.carousel-images {
  width: 60rem;
  height: 45rem;
  max-width: 60rem;
  max-height: 45rem;

  .carousel-inner {
    height: 100%;
    width: 100%;

    .carousel-item {
      height: 100%;

      span {
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .carousel-images {
    height: 20rem;
  }
}
