.image-wrapper {
  display: block;
  img {
    max-width: 400px !important;
    max-height: 600px !important;
  }
}

// .masterPlan__desc {
//   width: 10rem !important;
//   height: 10rem !important;
//   background-color: #fff;
// }

// .masterPlan__desc > p {
//   font-size: 1rem;
//   color: gray;
//   letter-spacing: 1px;
// }

// .masterPlan__askPrice {
//   text-decoration: underline;
// }

// .masterPlan__desc > h5 {
//   text-align: center;
//   margin-top: 15px;
//   color: #aff1da;
// }

.masterPlan__desc__parent {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: 0.4s all ease-out;
  cursor: pointer;
  box-sizing: border-box !important;
  padding: 0 !important;
  background-color: #f9ea8f;
  background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem !important;
  height: 12rem !important;
  margin: 1rem !important;

  .masterPlan__desc {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box !important;
    background-color: white;
    transition: 0.4s all ease-out;
    padding: 1rem 0;
    overflow: hidden;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;

    div {
      width: 4rem;
      height: 4rem;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 4rem;
        height: 4rem;
        fill: #aff1da;
      }
    }

    .fix {
      svg {
        image {
          transform: scale(0.8);
        }
      }
    }

    h5 {
      text-align: center;
      color: black;
      font-weight: 600;
      line-height: 1.2;
      text-transform: uppercase;
      font-size: 1rem;
    }
    p {
      margin: 1.2rem 0 0.2rem 0;
      text-align: center;
      letter-spacing: 1px;
      font-size: 0.8rem;
      font-weight: 300;
      line-height: 1.2;
      color: black;
      text-transform: capitalize;
    }

    .masterPlan__Cta {
      transition: 0.4s all ease-out;
    }
  }
}

@media screen and (max-width: 768px) {
  .masterPlan__desc__parent {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.08);

    .masterPlan__desc {
      transform: scale(0.95);
    }

    .masterPlan__Cta {
      text-decoration: underline;
    }
  }
}

@media (hover: hover) {
  .masterPlan__desc__parent:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .masterPlan__desc {
      transform: scale(0.95);

      .masterPlan__Cta {
        text-decoration: underline;
      }
    }
  }
}
